<h2>Por Region</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <button *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
      (click)="searchByRegion(region)">
      {{region}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>

