<h2>Por Pais</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- (onValue)="searchByCapital($event)" -->
    <shared-search-box
      (onDebounce)="searchByCountry($event)"
      [initialValue]="initialValue"
      placeholder="Busca por capital">
    </shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
